@font-face {
    font-family: 'frutiger_rg';
    src: url('../fonts/frutivccp55rm-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'frutiger_bd';
    src: url('../fonts/frutivccp65bd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
